.header-description-bg-wide {
	min-height: 60px;
	background-color: yellowgreen;
	border-bottom: 1px solid #9e9e9eb8;
}

.header-menu-bg-wide {
	min-height: 54px;
	background-color: #f5f5f5ba;
}

.header-description {
	/* width: auto; */
	height: 60px;
	z-index: 999;
}

.header-menu {
	/* width: auto; */
}

.search-cntr {
	margin: 7px 0px
}