.image_header_cntr {
	font-size: medium;
	padding: 5px 0px;
}

.image_author {}

.image_source_link {}

.main_image {
	vertical-align: unset;
	width: 100%;
}

.img_author_cntr {
	float: left;
}

.img_source_cntr {
	float: right;
}

.image_header_cntr:after {
	content: '';
	display: table;
	clear: both;
}

.img_description {
	margin-bottom: 10px;
	font-size: medium;
	color: black;
	text-align: center;
}